<p id="toc"></p>

<br><br>

<h1 style="font-family: Verdana; font-size: 24px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: none; letter-spacing: 3px; color: teal; background-color: #ffffff;">TABLE OF CONTENTS</h1>

---

<h3 style="text-indent: 8vw; font-family: Verdana; font-size: 18px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#imports">0&nbsp;&nbsp;&nbsp;&nbsp;IMPORTS</a></h3>

---

<h3 style="text-indent: 8vw; font-family: Verdana; font-size: 18px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#dataset">1&nbsp;&nbsp;&nbsp;&nbsp;DATASET</a></h3>

---

<h3 style="text-indent: 8vw; font-family: Verdana; font-size: 18px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#data_exploration">2&nbsp;&nbsp;&nbsp;&nbsp;DATA EXPLORATION AND VISUALIZATION</a></h3>

<h3 style="text-indent: 15vw; font-family: Verdana; font-size: 15px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#basic_exploration">2.1&nbsp;&nbsp;&nbsp;&nbsp;Basic Exploration</a></h3>

<h3 style="text-indent: 15vw; font-family: Verdana; font-size: 15px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#data_type_check">2.2&nbsp;&nbsp;&nbsp;&nbsp;Data Type Check</a></h3>

<h3 style="text-indent: 15vw; font-family: Verdana; font-size: 15px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#adding_more_information">2.3&nbsp;&nbsp;&nbsp;&nbsp;Adding More Information</a></h3>

---

<h3 style="text-indent: 8vw; font-family: Verdana; font-size: 18px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#helper_functions">3&nbsp;&nbsp;&nbsp;&nbsp;HELPER FUNCTIONS</a></h3>

---

<h3 style="text-indent: 8vw; font-family: Verdana; font-size: 18px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#create_dataset">4&nbsp;&nbsp;&nbsp;&nbsp;DATASET EXPLORATION</a></h3>

---

<h3 style="text-indent: 8vw; font-family: Verdana; font-size: 18px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: navy; background-color: #ffffff;"><a href="#modelling">5&nbsp;&nbsp;&nbsp;&nbsp;MODELLING</a></h3>

---

<a id="1"></a>
# <span><center style="font-family: Verdana; font-size: 36px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: none; letter-spacing: 3px; background-color: #ffffff; color: teal;" id="imports">0&nbsp;&nbsp;IMPORTS&nbsp;&nbsp;&nbsp;&nbsp;<a href="#toc">&#10514;</a></center></span>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import os


from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import AdaBoostRegressor, RandomForestRegressor


from colorama import Fore

y_ = Fore.YELLOW
r_ = Fore.RED
g_ = Fore.GREEN
b_ = Fore.BLUE
m_ = Fore.MAGENTA
bl_ = Fore.BLACK

In [2]:
plt.rcParams['figure.figsize'] = (20,15)

In [3]:
class config:
    CSV_PATH = 'dataset/'
    RANDOM_SEED = 15
    train_size = 0.7
    test_size = 0.15
    validation_size = 0.15

<a id="2"></a>
# <span><center style="font-family: Verdana; font-size: 36px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: none; letter-spacing: 3px; background-color: #ffffff; color: teal;" id="dataset">1&nbsp;&nbsp;DATASET&nbsp;&nbsp;&nbsp;&nbsp;<a href="#toc">&#10514;</a></center></span>

In [4]:
os.listdir(config.CSV_PATH)

['COVID19DistrictWisePositivityAnalysis29April.xlsx',
 'sample_submission.csv',
 'submission_weekly.csv',
 'test.csv',
 'train.csv',
 'WHO-COVID-19-global-data.csv']

In [5]:
train = pd.read_csv(config.CSV_PATH + 'train.csv' )
test = pd.read_csv(config.CSV_PATH + 'test.csv')
covid = pd.read_csv(config.CSV_PATH + 'WHO-COVID-19-global-data.csv')

In [6]:
train.shape, test.shape, covid.shape

((16644, 12), (4900, 10), (200976, 8))

In [7]:
covid = covid[covid.Country_code == 'US']

* I am considering United States because the co-ordinates belongs to US.

<a id="3"></a>
# <span><center style="font-family: Verdana; font-size: 36px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: none; letter-spacing: 3px; background-color: #ffffff; color: teal;" id="data_exploration">2&nbsp;&nbsp;DATA EXPLORATION AND VISUALIZATION&nbsp;&nbsp;&nbsp;&nbsp;<a href="#toc">&#10514;</a></center></span>

<a id="2.1"></a>
## <span style="font-family: Verdana; font-size: 30px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: none; letter-spacing: 3px; background-color: #ffffff; color: teal;" id="basic_exploration">2.1&nbsp;&nbsp;Basic Exploration&nbsp;&nbsp;&nbsp;&nbsp;<a href="#toc">&#10514;</a></center></span>

In [8]:
train.head(16)

,ID,date,warehouse_ID,Latitude,Longitude,Product_Type,year,month,is_weekend,is_warehouse_closed,daily_dispatch_count,weekly_dispatch_count
0,0x2710,2017-01-01,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,Yes,No,5.5,5.5
1,0x33e6,2017-01-01,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,Yes,No,6.1,6.1
2,0x2711,2017-01-02,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,4.8,NaN
3,0x33e7,2017-01-02,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,No,No,6.7,NaN
4,0x2712,2017-01-03,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,5.8,NaN
5,0x33e8,2017-01-03,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,NaN,No,8.1,NaN
6,0x2713,2017-01-04,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,6.6,NaN
7,0x33e9,2017-01-04,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,No,No,7.0,NaN
8,0x2714,2017-01-05,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,4.9,NaN
9,0x33ea,2017-01-05,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,No,NaN,7.4,NaN
10,0x2715,2017-01-06,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,5.9,NaN
11,0x33eb,2017-01-06,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,No,No,7.2,NaN
12,0x2716,2017-01-07,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,Yes,No,4.6,NaN
13,0x33ec,2017-01-07,WH_0x3ea,NaN,-105.183060,Type_A,2017,January,Yes,No,5.4,NaN
14,0x2717,2017-01-08,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,Yes,No,4.5,37.1
15,0x33ed,2017-01-08,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,Yes,No,6.5,48.3

In [9]:
train.tail(5)

,ID,date,warehouse_ID,Latitude,Longitude,Product_Type,year,month,is_weekend,is_warehouse_closed,daily_dispatch_count,weekly_dispatch_count
16639,0x6f53,2021-04-30,WH_0x3f0,37.915825,-89.829262,Type_B,2021,April,No,No,0.2,NaN
16640,0x74c8,2021-04-30,WH_0x3f1,48.692551,-116.319862,Type_A,2021,April,No,No,12.3,NaN
16641,0x74c9,2021-04-30,WH_0x3f1,48.692551,-116.319862,Type_B,2021,April,No,No,3.3,NaN
16642,0x794c,2021-04-30,WH_0x3f2,61.600803,-149.125259,Type_A,2021,April,No,No,7.1,NaN
16643,0x794d,2021-04-30,WH_0x3f2,61.600803,-149.125259,Type_B,2021,April,No,No,3.4,NaN

In [10]:
test.head()

,ID,date,warehouse_ID,Latitude,Longitude,Product_Type,year,month,is_weekend,is_warehouse_closed
0,0x31fc,2021-05-01,WH_0x3e9,41.681471,NaN,Type_A,2021,May,NaN,No
1,0x31fd,2021-05-01,WH_0x3e9,41.681471,NaN,Type_B,2021,May,Yes,No
2,0x3ed2,2021-05-01,WH_0x3ea,38.749077,-105.183060,Type_A,2021,May,Yes,No
3,0x3ed3,2021-05-01,WH_0x3ea,38.749077,-105.183060,Type_B,2021,May,Yes,No
4,0x4a3a,2021-05-01,WH_0x3eb,35.678970,-109.067413,Type_A,2021,May,Yes,Yes

In [11]:
train.describe()

,Latitude,Longitude,year,daily_dispatch_count,weekly_dispatch_count
count,16312.000000,16228.000000,16644.000000,16644.000000,2372.000000
mean,37.721350,-93.987807,2019.442802,5.042640,35.233938
std,7.403689,17.907439,1.058141,3.304978,20.953378
min,25.750156,-149.125259,2017.000000,0.000000,0.000000
25%,34.361664,-105.183060,2019.000000,2.800000,19.475000
50%,37.915825,-87.551186,2020.000000,4.400000,30.100000
75%,41.681471,-80.279640,2020.000000,7.500000,52.000000
max,61.600803,-72.794746,2021.000000,17.900000,96.400000

In [12]:
test.describe()

          Latitude    Longitude    year
count  4802.000000  4778.000000  4900.0
mean     39.646598   -97.958786  2021.0
std       9.502890    21.543055     0.0
min      25.750156  -149.125259  2021.0
25%      34.361664  -109.067413  2021.0
50%      38.749077   -88.690224  2021.0
75%      41.681471   -82.648254  2021.0
max      61.600803   -72.794746  2021.0

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16644 entries, 0 to 16643
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     16644 non-null  object
 1   date                   16644 non-null  object
 2   warehouse_ID           16644 non-null  object
 3   Latitude               16312 non-null  float64
 4   Longitude              16228 non-null  float64
 5   Product_Type           16644 non-null  object
 6   year                   16644 non-null  int64
 7   month                  16644 non-null  object
 8   is_weekend             16145 non-null  object
 9   is_warehouse_closed    16478 non-null  object
 10  daily_dispatch_count   16644 non-null  float64
 11  weekly_dispatch_count  2372 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.5+ MB

In [14]:
train.isnull().sum()

ID                           0
date                         0
warehouse_ID                 0
Latitude                   332
Longitude                  416
Product_Type                 0
year                         0
month                        0
is_weekend                 499
is_warehouse_closed        166
daily_dispatch_count         0
weekly_dispatch_count    14272
dtype: int64

In [15]:
test.isnull().sum()

ID                       0
date                     0
warehouse_ID             0
Latitude                98
Longitude              122
Product_Type             0
year                     0
month                    0
is_weekend             147
is_warehouse_closed     49
dtype: int64

In [16]:
train.Latitude.value_counts()

41.681471    2741
38.749077    2731
35.678970    2390
34.361664    2145
25.750156    1671
30.189375    1427
41.611603     955
48.692551     887
37.915825     712
61.600803     653
Name: Latitude, dtype: int64

<a id="2.2"></a>
## <span style="font-family: Verdana; font-size: 30px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: none; letter-spacing: 3px; background-color: #ffffff; color: teal;" id="data_type_check">2.2&nbsp;&nbsp;Data Type Check&nbsp;&nbsp;&nbsp;&nbsp;<a href="#toc">&#10514;</a></center></span>

In [17]:
print(f'{y_}Let\'s Check the datatypes of columns \n {b_}')
print(train.dtypes)

Let's Check the datatypes of columns

ID                        object
date                      object
warehouse_ID              object
Latitude                 float64
Longitude                float64
Product_Type              object
year                       int64
month                     object
is_weekend                object
is_warehouse_closed       object
daily_dispatch_count     float64
weekly_dispatch_count    float64
dtype: object

> So we have on error regarding date column, it should be datetime type but it is object type.
>
> So we need to change it

In [18]:
train['date'] = pd.to_datetime(train['date'])

In [19]:
print(f'{y_}Let\'s Check the datatypes of columns \n {b_}')
print(train.dtypes)

Let's Check the datatypes of columns

ID                               object
date                     datetime64[ns]
warehouse_ID                     object
Latitude                        float64
Longitude                       float64
Product_Type                     object
year                              int64
month                            object
is_weekend                       object
is_warehouse_closed              object
daily_dispatch_count            float64
weekly_dispatch_count           float64
dtype: object

Now the dataset is perfect for adding more information, So let's Add more columns.

<a id="2.3"></a>
## <span style="font-family: Verdana; font-size: 30px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: none; letter-spacing: 3px; background-color: #ffffff; color: teal;" id="adding_more_information">2.3&nbsp;&nbsp;Adding More Information&nbsp;&nbsp;&nbsp;&nbsp;<a href="#toc">&#10514;</a></center></span>

In [20]:
train['day_name'] = train.date.dt.day_name()
train['day_of_week'] = train.date.dt.dayofweek

In [24]:
start_date_train = train.date[0]
end_date_train = train.date.iloc[-1]

In [26]:
# Here i am creating new dataframe for holidays
ushd = CustomBusinessDay(calendar = USFederalHolidayCalendar())

In [28]:
holiday_us = pd.DataFrame(pd.date_range(start= start_date_train, end = end_date_train, freq = ushd), columns= ['date'])

In [30]:
holiday_us['Holiday'] = 'No'

In [38]:
train_with_holiday = pd.merge(left = train, right= holiday_us, on = 'date', how = 'left')

In [39]:
train_with_holiday

,ID,date,warehouse_ID,Latitude,Longitude,Product_Type,year,month,is_weekend,is_warehouse_closed,daily_dispatch_count,weekly_dispatch_count,day_name,day_of_week,Holiday
0,0x2710,2017-01-01,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,Yes,No,5.5,5.5,Sunday,6,NaN
1,0x33e6,2017-01-01,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,Yes,No,6.1,6.1,Sunday,6,NaN
2,0x2711,2017-01-02,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,4.8,NaN,Monday,0,NaN
3,0x33e7,2017-01-02,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,No,No,6.7,NaN,Monday,0,NaN
4,0x2712,2017-01-03,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,5.8,NaN,Tuesday,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16639,0x6f53,2021-04-30,WH_0x3f0,37.915825,-89.829262,Type_B,2021,April,No,No,0.2,NaN,Friday,4,No
16640,0x74c8,2021-04-30,WH_0x3f1,48.692551,-116.319862,Type_A,2021,April,No,No,12.3,NaN,Friday,4,No
16641,0x74c9,2021-04-30,WH_0x3f1,48.692551,-116.319862,Type_B,2021,April,No,No,3.3,NaN,Friday,4,No
16642,0x794c,2021-04-30,WH_0x3f2,61.600803,-149.125259,Type_A,2021,April,No,No,7.1,NaN,Friday,4,No
16643,0x794d,2021-04-30,WH_0x3f2,61.600803,-149.125259,Type_B,2021,April,No,No,3.4,NaN,Friday,4,No

<a id="2.3"></a>
## <span style="font-family: Verdana; font-size: 30px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: none; letter-spacing: 3px; background-color: #ffffff; color: teal;" id="adding_more_information">2.3&nbsp;&nbsp;Adding More Information&nbsp;&nbsp;&nbsp;&nbsp;<a href="#toc">&#10514;</a></center></span>

In [ ]:
px.line(data_frame= train, y = 'weekly_dispatch_count', x = 'date')

In [ ]:
px.line(data_frame= train, y = 'daily_dispatch_count', x = 'date')