In [1]:
import pandas as pd

In [6]:
class config:
    CSV_PATH = 'dataset/'

In [7]:
train = pd.read_csv(config.CSV_PATH + 'train.csv' )

In [8]:
train

,ID,date,warehouse_ID,Latitude,Longitude,Product_Type,year,month,is_weekend,is_warehouse_closed,daily_dispatch_count,weekly_dispatch_count
0,0x2710,2017-01-01,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,Yes,No,5.5,5.5
1,0x33e6,2017-01-01,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,Yes,No,6.1,6.1
2,0x2711,2017-01-02,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,4.8,NaN
3,0x33e7,2017-01-02,WH_0x3ea,38.749077,-105.183060,Type_A,2017,January,No,No,6.7,NaN
4,0x2712,2017-01-03,WH_0x3e9,41.681471,-72.794746,Type_A,2017,January,No,No,5.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16639,0x6f53,2021-04-30,WH_0x3f0,37.915825,-89.829262,Type_B,2021,April,No,No,0.2,NaN
16640,0x74c8,2021-04-30,WH_0x3f1,48.692551,-116.319862,Type_A,2021,April,No,No,12.3,NaN
16641,0x74c9,2021-04-30,WH_0x3f1,48.692551,-116.319862,Type_B,2021,April,No,No,3.3,NaN
16642,0x794c,2021-04-30,WH_0x3f2,61.600803,-149.125259,Type_A,2021,April,No,No,7.1,NaN
16643,0x794d,2021-04-30,WH_0x3f2,61.600803,-149.125259,Type_B,2021,April,No,No,3.4,NaN